@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Botcamp .Net</h1>
    <p>Bootcamp: @ViewData["bootcamp"]</p>
    <p>Jadwal: @ViewData["waktu"]</p>
    <p>Price: @ViewData["price"]</p>
</div>
