@model Employee

@{
    ViewData["Title"] = "Detail Employee";
}

<div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Employee Id: @Model.Id</h5>
            <p class="card-text">Name: @Model.Name</p>
            <p class="card-text">Name: @Model.Salary</p>
            <a asp-action="Index" class="btn btn-primary">Back</a>
        </div>
    </div>
</div>